{{ define "content" }}

<div id="leaflet_map" style="margin: 20px auto;height: 400px;"></div>

<script type="text/javascript">
  let leaflet_map = handle.initLeafletMap("leaflet_map", "{{ .TianDiTuKey }}");
  let markers = L.markerClusterGroup();

  {{ range .Pins }}
  registerMark({{.Lng}}, {{.Lat}}, {{ .Location }}, {{.Note}}, {{.UUID }} ,markers)
  {{ end }}

  leaflet_map.addLayer(markers);
  leaflet_map.flyToBounds(markers.getBounds())

  function registerMark(lng,lat,name,note,uuid, markers) {
      var marker = L.marker(new L.LatLng(lat, lng), { title: name });
      marker.bindPopup(
          '<h6>'+name+'</h6>' +
          '<p>'+note+'</p>' +
          '<p>' +
              '<div>\n' +
                  '<a href="/pin/edit?pid='+uuid+'">' +
                    '<button type="button" class="btn btn-primary btn-xs">Edit</button>' +
                  '</a>\n' +
              '</div>' +
          '</p>');
      markers.addLayer(marker);
  }
</script>

{{ end }}