{{ define "content" }}

<div id="l-map" style="margin: 20px auto;height: 300px;"></div>

<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=2.0&ak={{ .BaiduAK }}"></script>
<script type="text/javascript">
  // 百度地图API功能
  function G(id) {
    return document.getElementById(id);
  }

  var map = new BMapGL.Map("l-map");

  // map.centerAndZoom("北京",12);                   // 初始化地图,设置城市和地图级别。
  map.enableScrollWheelZoom(true);
  {{ range .Pins }}
  registerMark({{.Lng}}, {{.Lat}}, {{ .Location }}, {{.Note}}, map)
  {{ end }}

  function registerMark(lng,lat,name,note,map) {
      var point = new BMapGL.Point(lng, lat)
      var marker = new BMapGL.Marker(point)

      map.addOverlay(marker);
      map.centerAndZoom(point, 15);

      // 点标记添加点击事件
      marker.addEventListener('click', function () {
          map.openInfoWindow(new BMapGL.InfoWindow(note, {
              width: 200,
              height: 100,
              title: name
          }), point); // 开启信息窗口
      });
  }
</script>

{{ end }}