{{ define "content" }}

<div>{{ .Group.Name }}</div>
<div id="leaflet_map" style="margin: 20px auto;height: 500px;"></div>

<script type="text/javascript">
  let leaflet_map = handle.initLeafletMap("leaflet_map", "{{ .TianDiTuKey }}", "{{ .MapBoxKey }}");
  let markers = L.markerClusterGroup();

  L.Routing.control({
      waypoints: [
          {{ range .Pins }}
          new L.Routing.Waypoint(
              L.latLng({{.Lat}}, {{.Lng}}), {{ .Location }}),
          {{ end }}
          ]
  }).addTo(leaflet_map);

  {{ range .Pins }}
  registerMark({{.Lng}}, {{.Lat}}, {{ .Location }}, {{.Note}}, {{.UUID }} ,markers)
  {{ end }}

  // leaflet_map.addLayer(markers);
  leaflet_map.flyToBounds(markers.getBounds())

  leaflet_map.on('contextmenu', function(e) {
      console.log(e)
  })

  function registerMark(lng,lat,name,note,uuid, markers) {
      var marker = L.marker(new L.LatLng(lat, lng), { title: name });
      marker.bindPopup(
          '<h6>'+name+'</h6>' +
          '<p>'+note+'</p>' +
          '<p>' +
              '<div>\n' +
                  '<a href="/pin/edit?pid='+uuid+'">' +
                    '<button type="button" class="btn btn-primary btn-xs">Edit</button>' +
                  '</a>\n' +
              '</div>' +
          '</p>');
      marker.addTo(leaflet_map);
      marker.bindTooltip(name).openTooltip();
      markers.addLayer(marker); // 用于确定缩放视角
  }
</script>

{{ end }}