{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MinePin</title>

    <!--    bootstrap v3.2.0-->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css"/>

      <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/animate.css/3.2.0/animate.min.css">

    <!--    font awesome v4.2.0-->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--    umami -->
    <script async defer data-website-id="a2b65203-2f33-45b4-941b-32d35596f5cd" src="https://umami.frytea.com/umami.js"></script>

    <!--    leaflet 1.8.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/coordtransform@2.1.2/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/proj4@2.8.0/dist/proj4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/proj4leaflet@1.0.2/src/proj4leaflet.js"></script>

<!--    <script src="//staticfile-cdn.frytea.com/Leaflet.ChineseTmsProviders/leaflet.ChineseTmsProviders.js"></script>-->
    <script src="/static/js/leaflet.ChineseTmsProviders.js"></script>

    <!--    leaflet 聚合图依赖-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/leaflet.markercluster-src.js"></script>

    <!--    leaflet fullscreen control-->
    <script src='https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.1/dist/Leaflet.fullscreen.min.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.1/dist/leaflet.fullscreen.css' rel='stylesheet' />

    <!--    leaflet route-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>

    <!--    tostr v2.1.4-->
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">

    <!-- leaflet-locatecontrol -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.css" rel="stylesheet" />

    <!--    // 通用处理方法-->
    <script type="text/javascript" src="/static/js/handle.js"></script>

  </head>
  <body>
    {{ template "navbar" . }}

    <div class="container">
      
      {{ template "content" . }}
      
    </div> <!-- /container -->

    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>

{{ end }}
