{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MinePin</title>

    <!--    bootstrap v3.2.0-->
    <link rel="stylesheet" href="//staticfile-cdn.frytea.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="//staticfile-cdn.frytea.com/animate.css/3.2.0/animate.min.css">

    <!--    font awesome v4.2.0-->
    <link href="//staticfile-cdn.frytea.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--    umami -->
    <script async defer data-website-id="a2b65203-2f33-45b4-941b-32d35596f5cd" src="https://umami.frytea.com/umami.js"></script>

    <!--    leaflet 1.8.0 -->
    <link rel="stylesheet" href="//staticfile-cdn.frytea.com/leaflet/1.8.0/leaflet.css"/>
    <script src="//staticfile-cdn.frytea.com/leaflet/1.8.0/leaflet.js"></script>

    <script src="//staticfile-cdn.frytea.com/coordtransform/coordtransform.js"></script>

    <script src="//staticfile-cdn.frytea.com/proj4js/2.8.0/proj4.js"></script>
    <script src="//staticfile-cdn.frytea.com/proj4leaflet/1.0.2/proj4leaflet.min.js"></script>

<!--    <script src="//staticfile-cdn.frytea.com/Leaflet.ChineseTmsProviders/leaflet.ChineseTmsProviders.js"></script>-->
    <script src="/static/js/leaflet.ChineseTmsProviders.js"></script>
    <script src="//staticfile-cdn.frytea.com/Leaflet.InternetMapCorrection/leaflet.mapCorrection.min.js"></script>

    <!--    leaflet 聚合图依赖-->
    <link rel="stylesheet" href="//staticfile-cdn.frytea.com/leaflet.markercluster/1.5.3//MarkerCluster.css" />
    <link rel="stylesheet" href="//staticfile-cdn.frytea.com/leaflet.markercluster/1.5.3//MarkerCluster.Default.css" />
    <script src="//staticfile-cdn.frytea.com/leaflet.markercluster/1.5.3/leaflet.markercluster-src.js"></script>

    <!--    leaflet fullscreen control-->
    <script src='//staticfile-cdn.frytea.com/Leaflet.fullscreen/1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='//staticfile-cdn.frytea.com/Leaflet.fullscreen/1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!--    leaflet route-->
    <link rel="stylesheet" href="//staticfile-cdn.frytea.com/leaflet-routing-machine/3.2.9/leaflet-routing-machine.css" />
    <script src="//staticfile-cdn.frytea.com/leaflet-routing-machine/3.2.9/leaflet-routing-machine.js"></script>

    <!--    tostr v2.1.4-->
    <script src="//staticfile-cdn.frytea.com/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="//staticfile-cdn.frytea.com/toastr.js/2.1.4/toastr.css" rel="stylesheet">

    <!-- leaflet-locatecontrol -->
    <script src="//staticfile-cdn.frytea.com/leaflet-locatecontrol/0.76.1/L.Control.Locate.min.js"></script>
    <link href="//staticfile-cdn.frytea.com/leaflet-locatecontrol/0.76.1/L.Control.Locate.min.css" rel="stylesheet" />

    <!--    // 通用处理方法-->
    <script type="text/javascript" src="/static/js/handle.js"></script>

  </head>
  <body>
    {{ template "navbar" . }}

    <div class="container">
      
      {{ template "content" . }}
      
    </div> <!-- /container -->

    <script type="text/javascript" src="//staticfile-cdn.frytea.com/jquery/2.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="//staticfile-cdn.frytea.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>

{{ end }}
