{{ define "content" }}

<form role="form" action="/pin/create" method="post">
  <div class="lead">新增一个图钉</div>
  <div class="raw">
    <div class="col-md-6">
      <div>
        <div class="form-group">
          <label for="suggestId">位置:</label>
          <input type="text" class="form-control" id="suggestId" name="location" />
        </div>
        <div class="form-group">
          <label for="longitude">经度:</label>
          <input type="text" class="form-control" id="longitude" name="longitude" />
        </div>
        <div class="form-group">
          <label for="latitude">纬度:</label>
          <input type="text" class="form-control" id="latitude" name="latitude" />
        </div>
        <div class="form-group">
          <label for="group">图钉组:</label>
          <select class="form-control" id="group" name="group">
            {{ range .Groups }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
        <div class="form-group">
          <label for="note">备注:</label>
          <input type="text" class="form-control" id="note" name="note" />
        </div>
        <input type="hidden" name="crs" value="WGS84">
        <div id="searchResultPanel"
             style="border:1px solid #C0C0C0;width:auto;height:auto; display:none;z-index:3"></div>
        <br/>
      </div>
    </div>
    <div class="col-md-6">
      <div id="leaflet_map" style="margin: 20px auto;height: 400px;"></div>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">保存</button>
</form>

<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=2.0&ak={{ .BaiduAK }}"></script>
<script type="text/javascript">
  let leaflet_marker = null;
  let leaflet_map = handle.initLeafletMap("leaflet_map", "{{ .TianDiTuKey }}", "{{ .MapBoxKey }}")

  leaflet_map.locate({setView: true, maxZoom: 16});
  leaflet_map.on("click", function(e) {
    // console.log(e.latlng);
    handle.removeMarkerLayer(leaflet_marker, leaflet_map);
    leaflet_marker = handle.addMarkerToLeaflet(e.latlng.lat, e.latlng.lng, leaflet_map, true);
    document.getElementById("longitude").value=e.latlng.lng
    document.getElementById("latitude").value=e.latlng.lat
  });

  // L.marker([39.92, 116.39]).addTo(leaflet_map);
  // L.marker([39.905530,116.391305]).addTo(leaflet_map).bindPopup('<p>我是WGS84坐标下，天安门广场国旗所在位置</p>').openPopup();

  // 百度地图API功能
  function G(id) {
    return document.getElementById(id);
  }

  var ac = new BMapGL.Autocomplete(    //建立一个自动完成的对象
          {"input" : "suggestId"
          });

  ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
    var str = "";
    var _value = e.fromitem.value;
    var value = "";
    if (e.fromitem.index > -1) {
      value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    }
    str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

    value = "";
    if (e.toitem.index > -1) {
      _value = e.toitem.value;
      value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    }
    str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
    G("searchResultPanel").innerHTML = str;
  });

  var myValue;
  ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
    var _value = e.item.value;
    myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

    setPlace();
  });

  function setPlace(){
    function myFun(){
      var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
      document.getElementById("longitude").value=pp.lng
      document.getElementById("latitude").value=pp.lat
      let gcj02 = coordtransform.bd09togcj02(pp.lng, pp.lat)
      let wgs84 = coordtransform.gcj02towgs84(gcj02[0], gcj02[1])
      // L.marker([]).addTo(leaflet_map)
      leaflet_marker = handle.addMarkerToLeaflet(wgs84[1], wgs84[0], leaflet_map, true)
      console.log(wgs84)
    }
    var local = new BMapGL.LocalSearch("中国", { //智能搜索
      onSearchComplete: myFun
    });
    local.search(myValue);
  }
</script>

{{ end }}