{{ define "content" }}

<form role="form" action="/pin/update" method="post">
  <div class="lead">编辑：{{ .Location }}</div>
  <div class="raw">
    <div class="col-md-6">
      <div>
        <div class="form-group">
          <label for="suggestId">位置:</label>
          <input type="text" class="form-control" id="suggestId" name="location" value="{{ .Location }}" />
        </div>
        <div class="form-group">
          <label for="longitude">经度:</label>
          <input type="text" class="form-control" id="longitude" name="longitude" value="{{ .Lng }}" />
        </div>
        <div class="form-group">
          <label for="latitude">纬度:</label>
          <input type="text" class="form-control" id="latitude" name="latitude" value="{{ .Lat }}" />
        </div>
        <div class="form-group">
          <label for="group">图钉组:</label>
          <select class="form-control" id="group" name="group">
            {{ range .Groups }}
            <option value="{{ .Id }}" {{ if eq $.GroupId .Id }} selected  =  "selected" {{ end }} >{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
        <div class="form-group">
          <label for="note">备注:</label>
          <input type="text" class="form-control" id="note" name="note" value="{{ .Note }}" />
        </div>
        <input type="hidden" name="uuid" value="{{ .UUID }}">
      </div>
    </div>
    <div class="col-md-6">
      <div id="leaflet_map" style="margin: 20px auto;height: 400px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-lg btn-danger btn-block"
              type="button"
              style="margin: 10px auto;"
              href="/pin/delete?pid={{.UUID }}">删除</a>
    </div>
    <div class="col-md-6">
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin: 10px auto;">保存</button>
    </div>
  </div>
</form>

<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=2.0&ak={{ .BaiduAK }}"></script>
<script type="text/javascript">
  let leaflet_map = handle.initLeafletMap("leaflet_map", "{{ .TianDiTuKey }}", "{{ .MapBoxKey }}");
  let leaflet_marker = handle.addMarkerToLeaflet({{ .Lat }}, {{ .Lng }}, leaflet_map, true);
  leaflet_marker.bindPopup('<h6>{{ .Location }}</h6><p>{{ .Note }}</p>');

  leaflet_map.on("click", function(e) {
    // console.log(e.latlng);
    handle.removeMarkerLayer(leaflet_marker, leaflet_map);
    leaflet_marker = handle.addMarkerToLeaflet(e.latlng.lat, e.latlng.lng, leaflet_map, true);
    document.getElementById("longitude").value=e.latlng.lng
    document.getElementById("latitude").value=e.latlng.lat
  });


  // 百度地图API功能
  // function G(id) {
  //   return document.getElementById(id);
  // }

  // var map = new BMapGL.Map("l-map");
  // var pinPoint = new BMapGL.Point({{ .Lng }}, {{ .Lat }})
  // map.centerAndZoom(pinPoint, 15);
  // map.centerAndZoom("北京",12);                   // 初始化地图,设置城市和地图级别。
  // map.enableScrollWheelZoom(true);
  // map.addOverlay(new BMapGL.Marker(pinPoint));
  // 增加点选事件，实现点选位置
  // map.addEventListener('click', function (e) {
  //   map.clearOverlays()
  //   map.addOverlay(new BMapGL.Marker(new BMapGL.Point(e.latlng.lng, e.latlng.lat)));
  //   document.getElementById("longitude").value=e.latlng.lng
  //   document.getElementById("latitude").value=e.latlng.lat
  // });
</script>

{{ end }}