{{ define "navbar" }}
<div class="navbar navbar-default navbar-static-top" role="navigation"
     style="margin: 10px;border-radius: 12px;box-shadow: 0 0 0;">
  <div class="container" style="border-radius: 12px;box-shadow: 3px 1px 10px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-map-marker"></i>
        MinePin
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/minepin">Pins</a></li>
        <li><a href="/group">Groups</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
{{ end }}